<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Currency Converter</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>

  <div class="app-wrapper">
    
    <header class="app-header">
      
    </header>

    <main class="app-content">
      {{{body}}}
    </main>

  </div>

</body>
</html>